<link href="style.css" type="text/css" rel="stylesheet">

<head>
  <title>Vacation World</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>

<link href="style.css"

type="text/css"

rel="stylesheet">

h1 {

}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

<h1 class="title cursive capitalize" >Top Vacation Spots</h1>

<h6 class="publish-time">Published: 2 Days Ago</h6>

.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;

  h2.destination {
    font-family: cursive;
  }

  .description h5 {
  color: teal;
}

h5 {
  color: rebeccapurple !important;
}

p,
h5 {
  font-family: Georgia;
}

h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}
