<link href="style.css" type="text/css" rel="stylesheet">

<head>
  <title>Vacation World</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head>

<link href="style.css"

type="text/css"

rel="stylesheet">

h1 {

}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

<h1 class="title cursive capitalize" >Top Vacation Spots</h1>

<h6 class="publish-time">Published: 2 Days Ago</h6>

.publish-time {
  color: gray;
}

.cursive {
  font-family: cursive;
}

.capitalize {
  text-transform: capitalize;

  h2.destination {
    font-family: cursive;
  }

  .description h5 {
  color: teal;
}

h5 {
  color: rebeccapurple !important;
}

p,
h5 {
  font-family: Georgia;
}

h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family: Georgia;
  text-align: center;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}

font-weight: bold;

text-align: center;

background-color: white;

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color: black;
  opacity: 0.75;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

#banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

.pull-quote {
  width: 350px;
}

#banner .content h1 {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 400px;
}

h2 {
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  border: 1px dotted red;
}

#banner .content h1 {
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  border: 3px solid white;
}

#banner .content h1 {
  border: solid 3px white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 14px;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  padding: 20px 30px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  padding: 10px 20px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  padding: 10px 20px;
  margin-top: 60px;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 14px;
  text-decoration: none;
  margin: 10px;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  text-align: center;
  margin: 30px 20px;
}

.pull-quote {
  width: 350px;
  margin: 0 auto;
}

#main {
  padding: 40px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

min-width: 200px;

max-width: 800px;

min-height: 200px;

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
  min-width: 200px;
  max-width: 800px;
  min-height: 200px;
  max-height: 300px;

}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll;
}

body {
  background-color: #FFF;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.donate  {
  visibility: hidden;
}

.question {
  text-align: center;
  position: static;
  top: 40px;
}

.question {
  text-align: center;
  position: relative;
  top: 40px;
}

.question {
  text-align: center;
  position: relative;
  top: 40px;
}
